/* GENERAL RULES FOR THE WHOLE PAGE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* debug OCCHI STANCHI */
  background-color: #000;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

/* HEADER */

header {
  width: 100%;
  height: 140px;
}

header li {
  display: inline;
}

.container70 {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.navigation-danny {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------------------------------------------------------- */

#header-one {
  display: flex;
  width: 350px;
  height: 70px;
}

#header-one > img {
  width: 100%;
  border-radius: 7px;
}

/* -------------------------------------------------------------------------- */

.header-two {
  display: flex;
  width: 350px;
  height: 70px;
  /* TEST: NON USARE "LINE-HEIGHT: 70px" MA FLEX */
  justify-content: center;
  align-items: center;
}

.header-two ul,
.header-three ul {
  display: flex;
}

.db-test1 {
  order: -1;
}

.header-two a:link,
.header-two a:visited,
.header-two a:active,
.header-two a:hover,
.header-three a:link,
.header-three a:visited,
.header-three a:active,
.header-three a:hover {
  color: white;
  padding: 0 7px;
}

/* ------------------------------------------------------------------------- */

.header-three {
  display: flex;
  width: 320px;
  height: 70px;
  /* TEST: NON USARE "LINE-HEIGHT: 70px" MA FLEX */
  justify-content: center;
  align-items: center;
}

#db-test2 {
  order: 3;
}

#db-test3 {
  order: 2;
}

#db-test4 {
  order: 1;
}

#db-test5 {
  order: 4;
}

.reusable {
  width: 7%;
  height: 7%;
  background-color: green;
  padding: 7px 7px 7px 7px;
  border-radius: 7px;
}

#db-hamburger {
  display: inline-block;
  margin-right: 2px;
  font-size: 50px;
  color: #FFFFFF;
  border: 1px solid transparent;
}

#db-hamburger:visited,
#db-hamburger:hover,
#db-hamburger:link {
  color: #FFFFFF;
}

/* -------------------------------JUMBOTRON---------------------------------- */

.jumbotron {
  width: 100%;
  height: 500px;
  /* debug */
  background-color: blue;
}

.navigation-brogno {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

/* --------------------------JUMBO SECTION ONE------------------------------- */

.jumbo1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 48%;
  /* debug */
  background-color: navy;
}

.text1-jumbo1 {
  display: flex;
  width: 100%;
  /* debug */
  background-color: lightblue;
}

/* QUESTO E' INUTILE MA VOLEVO USARE ALIGN SELF */
.text1-jumbo1 > h1 {
  align-self: flex-start;
  line-height: 200%;
  font-size: 28px;
  color: red;
  background-color: black;
}


.text2-jumbo1 > p {
  align-items: center;
  width: 100%;
  font-size: 21px;
  line-height: 1.6;
  /* debug */
  color: black;
  background-color: red;
}

/* ----------------------------JUMBO SECTION TWO----------------------------- */

.jumbo2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 48%;
  /* debug */
  background-color: navy;
}

.jumbo2 input {
  width: 70%;
  padding: 10px 0px 10px 0px;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
  border-radius: 7px;
}

.db-input {
  text-align: center;
}
.db-underlined #terms-service {
  text-decoration: underline;
}

.db-random {
  padding-top: 20px;
}









/* ---------------------------------SMALL------------------------------------ */

@media all and (max-width: 767px) {

  .header-two {
    display: none;
  }

  .header-three {
    justify-content: flex-end;
  }

  .header-three ul {
    display: none;
  }

  .header-three {
    flex-flow: nowrap;
    margin-right: 2px;
    width: 20px;
    padding-top: 42px;
  }

  header .container70 {
    width: 100%;
  }


}

/* ---------------------------------MEDIUM----------------------------------- */

@media all and (min-width: 768px) and (max-width: 991px) {

  .header-two {
    display: none;
  }

  .header-three {
    justify-content: flex-end;
  }

  .header-three ul {
    display: none;
  }

  .header-three {
    flex-flow: nowrap;
    margin-right: 2px;
    width: 20px;
    padding-top: 42px;
  }

  header .container70 {
    width: 100%;
  }

}

/* --------------------------------LARGE------------------------------------ */

@media all and (min-width: 992px) and (max-width: 1585px) {

  .header-two {
    display: none;
  }

  .header-three {
    flex-flow: nowrap;
    margin-right: 2px;
    justify-content: flex-end;
    width: 20px;
    padding-top: 42px;
  }

.header-three ul {
    display: none;
  }

}

/* ----------------------------EXTRA LARGE---------------------------------- */

@media all and (min-width: 1586px) {

  #db-hamburger {
    display: none;
  }

}
